
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
Test Kira/
e2e
test.js
test.py
README.md
.gitignore
products.spec.ts
navigation.spec.ts
login.spec.ts
exercise6.spec.ts
exercise7.spec.ts

